h1 {
    @include light-font(6.8rem);
}

h2 {
    @include dark-font(2rem);
}

h3 {
    @include light-font(4rem);
}
.main {
    background-image: url(../assets/image-1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    &-start {
        display: flex;
        flex-direction: column;
        width: 1280px;
    }
}

.fas-header {
    color: $color-sectxt;
    font-size: 4rem;
    padding: 0  0 60px 50px;
}
.header-nav {
    display: flex;
    justify-content: right;
    padding-right: 160px;
    text-align: right;
}
