h1 {
    @include light-font(7rem);
    padding: 150px 160px 100px 100px;
}

h2 {
    @include dark-font(2rem);
}

h3 {
    @include light-font(4rem);
}
.main {
    background-image: url(../assets/image-1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center bottom;
    &-start {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 400px;
        padding-left: 100px;
    }
}

.fas {
    color: $color-sectxt;
    font-size: 4rem;
    padding-bottom: 60px;
}
.header-nav {
    display: flex;
    justify-content: right;
    padding-right: 160px;
    text-align: right;
}
