input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.radio-label {
    display:block;
    position:relative;
    padding: 20px;
}

.location, .hidden {
    display: none;
}

.active {
    display: block;
}

label {
    @include dark-font(2rem);
}

.form {
    padding: 100px 0;
    &-question {
        padding-bottom: 300px;
    }
}

h4 {
    @include accent-font(3.2rem);
    font-weight: 900;
}

.question-people {
    display: flex;
    justify-content: right;
    &-div {
        width: 40%;
    }
}

label:hover {
    color: $color-accent2;
}

input[type="radio"]:checked+label{ 
    text-decoration: line-through;
    color: $color-accent2;
 } 

 .form-question {
    //  border: 2px solid red;
     display: flex;
     align-items: center;
     position: relative;
 }

 .question-type {
    //   border: 2px solid red;
 }

 .footprint-string {
    //   border: 2px solid red;
      height: 200px;
      display: flex;
      align-items: flex-end;
      transform: rotateZ(50deg);
      margin-top: 700px;
      position: absolute;
      left: 300px;
    //   margin-left: 200px;
 }


.footprint-left-1 {
    margin-right: 50px;
 }

 .footprint-right-1 {
    transform: rotatez(25deg);
 }

 .footprint-left-2 {
    align-self: center;
    transform: rotatez(30deg);
 }

 .footprint-right-2 {
    transform: rotatez(40deg);
 }

 .footprint-left-3 {
    align-self: center;
    transform: rotatez(50deg);
 }